# Q-Learning

this notebook are implementation of Q-learning algorithm to determine optimum policy until the agent that on start point (1,1) able to find the goal on (15,15) by getting total maximum reward at the grid world. The data can be seen in the file DataTugas3ML2019.txt. In this case, agent has four actions: N, E, S, dan W which sequentially states North (upward), East (to the right), South (downward), dan West (to the left).

## Tools

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import random
import math

## The Data

### Reward Table

In [2]:
data = pd.read_csv("DataTugas3ML2019.txt", sep='\t', header=None)
data

    0   1   2   3   4   5   6   7   8   9   10  11  12  13   14
0   -1  -2  -3  -2  -3  -3  -4  -1  -4  -2  -1  -2  -3  -3  500
1   -1  -3  -1  -2  -4  -1  -4  -1  -4  -2  -4  -2  -2  -2   -1
2   -4  -2  -1  -4  -2  -1  -2  -4  -2  -3  -2  -1  -2  -4   -4
3   -4  -2  -4  -1  -3  -2  -3  -2  -4  -2  -4  -1  -2  -4   -2
4   -4  -2  -2  -3  -2  -3  -1  -1  -4  -2  -1  -3  -4  -2   -4
5   -4  -3  -3  -4  -2  -3  -4  -2  -2  -1  -1  -2  -1  -2   -1
6   -2  -3  -2  -1  -1  -3  -2  -1  -4  -3  -1  -1  -2  -3   -3
7   -3  -1  -1  -4  -4  -3  -1  -2  -3  -1  -1  -4  -4  -3   -3
8   -3  -1  -4  -2  -3  -3  -1  -4  -4  -4  -2  -2  -2  -2   -1
9   -3  -4  -4  -2  -3  -4  -3  -3  -2  -2  -3  -4  -3  -4   -1
10  -3  -4  -1  -1  -1  -4  -4  -4  -4  -1  -2  -4  -2  -2   -1
11  -1  -3  -3  -3  -3  -3  -3  -3  -4  -1  -2  -4  -1  -2   -4
12  -2  -2  -1  -2  -2  -2  -4  -3  -1  -4  -1  -4  -2  -2   -2
13  -2  -1  -3  -1  -4  -4  -1  -3  -3  -1  -1  -2  -3  -4   -3
14  -2  -2  -1  -4  -4  -4  -2  -2  -3  -1  -2  -2  -1  -1   -3

In [3]:
n_data = data.shape[0] * data.shape[1]
n_data

225

### ID Table

this table for labelling each point in grid world

In [4]:
id_data = []
j = 0
for i in range(15):
  id_data.append([i for i in range(j,j+15)])
  j+=15
id_data = pd.DataFrame(data=id_data)
id_data

     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0     0    1    2    3    4    5    6    7    8    9   10   11   12   13   14
1    15   16   17   18   19   20   21   22   23   24   25   26   27   28   29
2    30   31   32   33   34   35   36   37   38   39   40   41   42   43   44
3    45   46   47   48   49   50   51   52   53   54   55   56   57   58   59
4    60   61   62   63   64   65   66   67   68   69   70   71   72   73   74
5    75   76   77   78   79   80   81   82   83   84   85   86   87   88   89
6    90   91   92   93   94   95   96   97   98   99  100  101  102  103  104
7   105  106  107  108  109  110  111  112  113  114  115  116  117  118  119
8   120  121  122  123  124  125  126  127  128  129  130  131  132  133  134
9   135  136  137  138  139  140  141  142  143  144  145  146  147  148  149
10  150  151  152  153  154  155  156  157  158  159  160  161  162  163  164
11  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179
12  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194
13  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209
14  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224

## Q Table (4 x 225)

0 : North, 1 : South, 2 : West, 3 : East

In [5]:
q_table = []
for i in range(4):
    temp = []
  
    for j in range(n_data):
    
        position = np.where(id_data==j)
        x = int(position[1])
        y = int(position[0])
    
        if y == 0 and i == 0:
            value = "-inf"
        elif y == 14 and i == 1:
            value = "-inf"
        elif x == 0 and i == 2:
            value = "-inf"
        elif x == 14 and i == 3:
            value = "-inf"
        else:
            value = 0
        temp.append(float(value))
    
    q_table.append(temp)

In [6]:
qsa = pd.DataFrame(q_table)
qsa

,0,1,2,3,4,5,6,7,8,9,...,215,216,217,218,219,220,221,222,223,224
0,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf
2,-inf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-inf

## Q-Learning Algorithm

### Functions

In [7]:
def movement(state):
    position = np.where(id_data==state)
    x = position[1]
    y = position[0]
  
    while True:
        direction = random.randint(0, 3)
        if direction == 0 and y != 0:
            break
        elif direction == 1 and y != 14:
            break
        elif direction == 2 and x != 0:
            break
        elif direction == 3 and x != 14:
            break
    return direction

In [8]:
def rate_update(learning_rate, iteration, episode):
    return learning_rate * math.exp(-1 * (iteration / episode))

### Parameters

### Learning Rate and Gamma

In [9]:
learning_rate = 1
gamma = 0.99

### Number of Episodes and Steps

In [10]:
episode = 300
step = 30
max_step = step * 30

### Algorithm

In [12]:
for i in range(episode):
    x = 0
    y = 14
    state = id_data[x][y]
    steps = random.randint(step, max_step)
  
    for j in range(steps):
        if random.random() < rate_update(learning_rate, i, episode):
            #exploration
            action = movement(state)
        else:
            #exploitation
            action = np.argmax(qsa[state])

        if action == 0:
            xnext = x
            ynext = y - 1

        elif action == 1:
            xnext = x
            ynext = y + 1

        elif action == 2:
            xnext = x - 1
            ynext = y

        elif action == 3:
            xnext = x + 1
            ynext = y

        qsa[state][action] = qsa[state][action] + rate_update(learning_rate, i, episode) * (data[xnext][ynext] + gamma * np.max(qsa[id_data[xnext][ynext]]) - qsa[state][action])

        x = xnext
        y = ynext

        if x == 14 and y == 0:
            break

        state = id_data[x][y]

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:56: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  return getattr(obj, method)(*args, **kwds)

## Evaluate

### Q-Table After Learning

In [14]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(qsa)

         0          1          2           3           4           5    \
0       -inf       -inf       -inf        -inf        -inf        -inf
1 -10.591910 -10.797915  -9.166295  -11.268403  -10.194387   -6.717207
2       -inf -10.278321 -10.610935   -8.693342   -9.511828  -11.214293
3 -10.467843  -8.710240  -9.583055  145.645834  215.593356  229.654137

          6           7           8           9           10          11   \
0        -inf        -inf        -inf        -inf        -inf        -inf
1  418.949218  432.645345  445.101687  458.103654  464.653624  473.387506
2   -9.628090  307.763698  424.354643  455.972859  464.752140  471.466808
3  335.344565  428.655455  464.746171  471.466808  477.239200  484.080000

        12      13   14         15         16          17          18   \
0      -inf    -inf -inf -10.628956 -10.438656  -10.201756  -10.583811
1  480.1894  487.06  0.0 -13.265546  -8.564966  144.554198  273.935027
2  477.2392  484.08  0.0       -inf  -9.585118   -9.740307   -9.580963
3  492.0000  500.00 -inf -10.827608  -9.087229  -11.201093  -10.153571

          19          20          21          22          23          24   \
0  -12.067704   -5.797790  385.711866  425.817062  455.816639  464.752137
1   -8.613729  404.049074  431.980160  438.348800  446.824126  453.367298
2   -7.702166  256.181238  405.568652  421.917984  431.539025  448.384379
3  359.997702  423.278298  428.704727  435.114172  458.022414  464.653631

          25          26          27        28      29         30   \
0  471.466808  477.239200  484.080000  492.0000  500.00  -9.854106
1  460.977049  467.653631  473.387506  478.1894  485.06 -13.808661
2  458.100400  464.653631  473.387506  480.1894  487.06       -inf
3  473.387506  480.189400  487.060000  494.0000    -inf -10.796724

          31          32          33          34          35          36   \
0  -10.797916   -9.511749  -11.435530  -10.541816  408.899222  423.614881
1   -9.927395  -10.490301  390.098773  398.272813   -9.389434  424.661469
2  -13.321123  112.252282   74.745815  136.350134  386.008469  426.570969
3  281.744274  365.888885  367.545480  376.741894  431.981546  438.365314

          37          38          39          40          41          42   \
0  432.188929  448.607371  458.103573  464.653631  473.387506  480.189400
1  431.980181  438.365310  446.833650  453.357324  461.977095  466.653631
2  431.980817  438.365256  446.833650  453.367321  460.977095  467.653631
3  446.833650  453.367324  460.977095  467.653631  473.387506  478.189400

          43        44         45          46          47          48   \
0  487.060000  494.0000 -13.375919   90.393561  230.794012  377.737594
1  469.427306  478.2094 -14.480928  -14.037916  120.471634  208.203923
2  473.387506  478.1894       -inf  -15.368032  -12.287391  258.196165
3  485.060000      -inf -11.958526  156.724673  379.587653  402.843949

          49          50          51          52          53          54   \
0  372.155313  426.659951  431.972964  438.339520  446.833650  453.367324
1  405.922332  407.657706  423.161519  428.552094  433.893539  442.325499
2  380.735973  386.190835  420.014575  424.587608  431.981194  438.365312
3  418.224104  424.661623  431.981602  438.365314  446.833650  453.350039

          55          56          57          58          59         60   \
0  460.977095  467.653631  473.387506  478.189400  485.060000 -12.250676
1  448.813749  454.357324  457.987095  462.733033  469.427306 -15.152552
2  446.833650  453.357324  461.977095  466.653631  469.427306       -inf
3  461.977095  466.653631  469.427306  478.209400        -inf -13.032155

         61          62          63          64          65          66   \
0  58.327892  248.578208  352.443189  387.515725  420.372341  424.657953
1 -13.318018  -14.599331  208.976555  104.817066  404.564894  414.512170
2 -14.168225  -12.099018  -12.339019  159.427786  399.983564  412.906107
3  83.424629  -12.281732  284.501925  413.030154  416.557327  428.563333

          67          68          69          70          71          72   \
0  431.981389  438.365279  446.833650  453.357324  461.977095  466.653631
1  422.252628  431.497161  437.892353  443.325613  447.813750  452.407224
2  423.276634  428.562816  433.902342  442.325613  448.813750  454.357324
3  433.902357  442.325613  448.813750  454.357324  457.987095  462.733033

          73          74         75         76         77          78   \
0  469.427306  478.209400 -14.486133  27.167470 -12.445645  286.011590
1  457.095703  463.733033 -15.071945 -15.599586 -14.889688  -13.111453
2  457.987095  462.733033       -inf -15.113948 -13.400162  -15.132617
3  469.427306        -inf -12.596040 -15.141329 -15.791084  -13.559056

          79          80          81          82          83          84   \
0  378.142029  412.837316  423.277695  428.563333  433.662811  442.325612
1  200.004686  321.971366  408.453756  417.208158  422.279483  430.513432
2  -15.966581  144.223474  405.271698  409.209911  422.384744  431.513236
3  -13.291065  397.035156  413.136290  431.503985  437.892357  443.325613

          85          86          87          88          89         90   \
0  448.813750  454.357324  457.987095  462.733033  469.427306 -16.467205
1  437.892357  442.335613  445.883151  449.524746  456.095703 -16.977890
2  437.892357  443.325613  447.813750  452.407224  457.095703       -inf
3  447.813750  452.407224  457.095703  463.733033        -inf -15.732688

         91         92          93          94          95          96   \
0 -14.328975 -15.270594  -15.969898  196.690685  389.653668  415.044884
1 -14.495965 -15.250599  -16.378401  393.057481  401.494188  391.802606
2 -16.941959 -16.246342  -15.003742  -13.127327  376.771243  392.962954
3 -14.954347 -13.140711  340.719989  387.368490  399.681259  411.895438

          97          98          99          100         101         102  \
0  425.126845  431.513431  437.891583  443.325613  447.813750  452.407224
1  374.998628  419.849081  427.188299  432.513433  433.912257  437.424320
2  405.164280  417.216256  423.196928  430.513433  437.892357  442.335612
3  419.621876  430.513290  437.892357  442.335613  445.883149  449.524746

          103         104         105         106         107         108  \
0  457.095703  463.733033  -17.433805  -15.602398  -14.997435  233.638912
1  442.029498  448.534746  -18.295956  -15.571013  310.223513  338.812959
2  445.882715  449.524746        -inf  136.192441  281.095634  311.394570
3  456.095703        -inf  307.610398  364.619434  382.613352  393.468406

          109         110         111         112         113         114  \
0  384.939584  394.474807  408.894232  419.708009  423.198111  430.513433
1  389.474656  395.863978  403.494278  405.580079  411.717252  418.916416
2  381.567782  393.469718  401.494277  408.580079  413.717252  419.916416
3  401.494278  408.580079  413.717252  419.916416  427.188299  432.513433

          115         116         117         118         119         120  \
0  437.892357  442.335613  445.883151  449.524746  456.095703  183.634270
1  426.188299  427.573134  431.050071  436.616489  443.049398  134.737337
2  427.188299  432.513433  433.912248  437.424298  442.029498        -inf
3  433.912257  437.424320  442.029498  448.534746        -inf  275.685329

          121         122         123         124         125         126  \
0  -14.723335  374.157744  381.647761  393.479275  401.494133  408.580079
1  328.487319  357.410572  377.732345  382.599487  388.494393  396.459292
2  205.125176  348.128506  371.780075  383.599795  389.493164  396.459239
3  366.289351  383.228452  389.494742  396.459336  403.494278  405.580079

          127         128         129         130         131         132  \
0  413.717252  419.916416  427.188299  432.513433  433.912257  437.424320
1  399.543519  406.608401  412.737152  418.926416  419.296398  423.726285
2  403.489131  405.573072  411.715686  418.916416  426.188299  427.254100
3  411.717252  418.915783  426.188208  427.573134  431.050074  436.618903

          133         134         135         136         137         138  \
0  442.029498  448.534746  111.274820  334.086062  370.743517  383.599795
1  429.242590  437.618333  331.088337  324.160210  361.982256  372.957848
2  431.048746  436.618904        -inf  276.850468  358.377176  369.966913
3  443.049398        -inf  170.703777  369.321946  377.763113  382.598812

          139         140         141         142         143         144  \
0  389.494742  396.442582  403.494278  405.577510  411.717239  418.916416
1  377.770245  380.549865  388.210111  391.548230  399.533652  407.609780
2  377.760728  381.236760  388.477793  395.834474  399.543680  406.609780
3  388.494463  396.459336  399.542228  406.609780  412.737152  418.926416

          145         146         147         148         149         150  \
0  426.188299  427.573134  431.050077  436.618060  443.049398  310.437821
1  412.737152  411.459226  419.660811  425.915786  432.242715  348.312289
2  412.737152  418.916264  418.674801  423.736126  429.242673        -inf
3  419.297403  423.737858  429.240011  437.618904        -inf  347.812033

          151         152         153         154         155         156  \
0  336.492665  369.920868  377.762892  382.599795  388.494733  396.410835
1  354.578332  361.580505  366.266020  370.959915  373.866419  380.686723
2  333.014411  360.578485  368.263059  372.995411  377.016025  379.576604
3  368.266078  372.996059  377.773797  380.606246  388.163498  391.548215

          157         158         159         160         161         162  \
0  399.543682  406.606897  412.737152  418.926416  419.297392  423.739572
1  387.562658  394.507856  402.533682  406.608509  403.296744  414.464468
2  386.400885  391.546065  399.533682  407.609771  412.737101  411.464438
3  399.532907  407.609780  412.737152  411.464469  419.661084  425.920288

          163         164         165         166         167         168  \
0  429.238095  437.618904  338.090129  360.543281  368.266098  372.996059
1  419.613105  423.920285  344.676488  351.330090  356.967530  358.399573
2  419.661056  425.920284        -inf  350.371653  354.967584  361.062330
3  432.242715        -inf  354.967276  361.583437  366.265838  369.726624

          169         170         171         172         173         174  \
0  377.772404  380.486879  386.030205  391.545793  399.533107  407.609780
1  364.204209  369.052490  374.840685  382.667592  389.563060  394.508346
2  365.510725  367.141789  373.880721  380.687252  387.563261  394.508346
3  373.880753  380.687630  387.563262  394.508346  402.533682  406.609780

          175         176         177         178         179         180  \
0  412.737152  411.464291  419.661085  425.920230  432.242715  350.329673
1  394.273275  396.152328  408.293279  412.842493  415.891483  341.287610
2  402.526863  403.285685  403.213087  413.668431  419.659542        -inf
3  402.423786  405.221961  419.654222  423.909325        -inf  351.397897

          181         182         183         184         185         186  \
0  354.966997  361.583437  365.148116  370.648776  373.880739  380.687626
1  346.883235  350.397912  353.240187  355.767525  363.356045  371.077512
2  345.851482  351.397869  356.837415  357.767599  363.401597  369.092304
3  356.967603  359.032332  364.626825  369.092544  374.840953  382.667630

          187         188         189         190         191         192  \
0  387.563249  394.507860  402.533682  405.717028  402.879250  414.464473
1  375.840870  382.659604  389.561683  389.613669  395.080487  400.973389
2  374.840799  382.667628  389.563188  366.846873  391.666535  400.225014
3  389.563262  394.508346  398.149309  400.146284  408.319598  412.597193

          193         194         195         196         197         198  \
0  419.591230  423.508335  345.883476  351.397927  356.967603  358.324701
1  373.874342  388.060513  336.000949  341.414934  345.820111  345.514934
2  408.273378  411.310335        -inf  341.414486  346.636920  349.471726
3  404.098221        -inf  346.883948  350.397924  353.188865  355.544791

          199         200         201         202         203         204  \
0  363.401618  369.079536  374.839143  382.667630  389.563151  394.508145
1  346.657581  339.564157  364.905081  370.063005  358.028458  368.315289
2  352.549298  355.543065  362.747566  371.045406  362.917843  382.181253
3  363.226357  371.081836  375.840951  382.624537  389.150331  390.163655

          205         206         207         208         209         210  \
0  389.542572  399.948481  408.319823  411.798010  401.568889  341.415108
1  380.427338  316.891680  218.851995  105.083753   -9.476313        -inf
2  385.621054  385.722258  386.675919  296.208446  383.791603        -inf
3  395.221364  401.236462  399.209974  372.563859        -inf  341.415108

          211         212         213         214         215         216  \
0  346.883948  350.394231  353.223425  355.708604  360.093435  371.071744
1        -inf        -inf        -inf        -inf        -inf        -inf
2  335.961970  340.559127  341.350410  338.213750  338.443869  351.286851
3  345.790588  345.639069  347.371011  350.929145  363.474063  367.609511

          217         218         219         220         221         222  \
0  375.839477  334.742793  385.445258  389.835083  374.163070  373.712447
1        -inf        -inf        -inf        -inf        -inf        -inf
2  364.894413  369.709187  316.915200  338.812076  291.300613  274.311820
3  357.628959  363.255842  380.795498  315.070559  253.268120   -7.715638

          223         224
0  310.804694  253.054135
1        -inf        -inf
2  109.905004   93.741860
3   77.632786        -inf

### Score

In [15]:
xmove = 0
ymove = 14

score = 0
i = 0

path = []

s = []

while i < 1000:
    state = id_data[xmove][ymove]
  
    s.append(state)
  
    score += data[xmove][ymove]
    path.append([xmove, ymove])
  
    move = np.argmax(qsa[id_data[xmove][ymove]])
    if move == 0:
        ymove -= 1
    elif move == 1:
        ymove += 1
    elif move == 2:
        xmove -= 1
    elif move == 3:
        xmove += 1
  
    if xmove == 14 and ymove == 0:
        score += data[xmove][ymove]
        path.append([xmove, ymove])
        break
    
    i += 1
print('Score:', score)

Score: 453

### Path

visualize path that get the maximum rewards

In [16]:
points = []
status = []
for i in range(15):
    for j in range(15):
        points.append([i,j])
        if [i,j] in path:
            status.append(True)
        else:
            status.append(False)

points = pd.DataFrame(points, columns=['x','y'])
points['path'] = status
plt.gca().invert_yaxis()
sns.scatterplot(x='x', y='y', hue='path', style='path', data=points)
plt.legend().remove()